/*變數設定檔*/
$body-bg: #f8f7fc;
$body-color: #18253d;
$white: #fff;
$main-blue: #001935;
$secondary-blue: #3c88fd;
$freedom-blue: #02b8ff;
$dark-gray: #4a4a4a;

$light-gray: #F0F0F5;
$body-black:#2A2A2A;
$dark-gray:#808080;
$step-gray:#AFB1BD;

$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
);


/* 使用@each 產出css size設定 */
@each $prop, $abbrev in (width: w, height: h) {
  @each $num, $val in $sizes {
    #{$abbrev}-#{$num} {
      #{$prop}: $val;
    }
  }
}
$spacer: 1rem;
$spacers: (
  0: 0,
  1: (
    $spacer * 0.25
  ),
  2: (
    $spacer * 0.5
  ),
  3: (
    $spacer * 0.75
  ),
  4: $spacer,
  5: (
    $spacer * 1.25
  ),
  6: (
    $spacer * 1.5
  ),
  7: (
    $spacer * 1.75
  ),
  8: (
    $spacer * 2
  )
);

/* 使用@each 產出css spacer設定 */
@each $prop, $abbrev in (margin: m, padding: p) {
  @each $num, $val in $spacers {
    .#{$abbrev}-#{$num} {
      #{$prop}: $val;
    }
    .#{$abbrev}t-#{$num} {
      #{$prop}-top: $val;
    }
    .#{$abbrev}r-#{$num} {
      #{$prop}-right: $val;
    }
    .#{$abbrev}b-#{$num} {
      #{$prop}-bottom: $val;
    }
    .#{$abbrev}l-#{$num} {
      #{$prop}-left: $val;
    }
    .#{$abbrev}x-#{$num} {
      #{$prop}-left: $val;
      #{$prop}-right: $val;
    }
    .#{$abbrev}y-#{$num} {
      #{$prop}-top: $val;
      #{$prop}-bottom: $val;
    }
  }
}

%standard-boxshadow {
  box-shadow: 3px 0 13px 0 rgba(100, 112, 134, 0.1);
}
%input-style{
        height: 40px;
        border:1px solid #4A4A4A;
        border-radius:4px;
        font-size: 12px;
        line-height: 16px;
        padding: 10px;       
}
%input-number-style{
  //隱藏上下鍵
  &[type="number"]::-webkit-inner-spin-button,
  &[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
  }

  &[type="number"] {
      -moz-appearance: textfield;
  }
}

%count-circle{  
  position:absolute;
  font-size: 25px;
  font-weight: 900;
  top: 0;
  left: 5px;  
 
}